@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --text-color: #000000;
    --primary-color: #0a16f7;
    --secondary-color: #1e8e3e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Courier New', Courier, monospace;
    color: var(--text-color);
}

body {
    padding: 1em;
}